*
/*agrega mas margen inferior*/
.margen-bottom7 {
    margin-bottom: 50px;
}
/*agrega mas margen superior 50px*/
.margen-top7 {
    margin-top: 50px;
}
/*agrega margenes a los 4 lados*/
.margen7 {
    margin: 50px;
}

/*agrega mas margen superior para el carousel*/
.mt-carousel{
    margin-top: 80px;
}

.card-icon {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 1rem auto 0;
    /* centrado arriba con un pequeño margen */
    display: block;
}

/*Tacha la letra de los precios y la hace de un color mas claro*/
.precio-viejo {
    color: #555;
    font-size: 12px;
    opacity: 0.8;
    text-decoration: line-through;
}

input[type="search"] {
    background-image: url('assets/img/svg/icon_search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px; /* Ajusta el tamaño del ícono */
    padding-left: 40px; /* Da espacio para el ícono */
}
  
.boton-flota{position: fixed; right: 6px; top: 90%; z-index: 50; color: black;} /*z-index determina qué elementos se muestran por encima de otros*
  
